{{yield}}
<li>
{{#link-to 'question' question.id}}<h3>{{question.title}}</h3><br>
  {{question.image}}<br>
By {{question.author}}-{{question.date}} {{/link-to}}
<button {{action 'addToFaves' question}}>Add to Favourites</button>
<!-- use a heart gyphicon instead once you start styling -->
</li>
