{{#if updateQuestionForm}}
  <h4>Update {{question.author}}{{question.date}}-{{question.question}}</h4>
  <div>
    <form>
      <div class="col-md-6">
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        {{input value=date id="date" placeholder=question.date}}
      </div>

      <div class="form-group">
        <label for="date">Question title</label> {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="date">Image</label> {{input value=image id="image"}}
      </div>
      
    </div>
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question id="question" placeholder=question.question}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
